<section class="section">
  <div class="section-header">
    <h1>Create Entity</h1>
  </div>

  <div class="section body">
  	<div class="card">
  		<div class="card-body">
		  	<div class="text-right mb-3">
		  		<%= link_to 'Back', entities_path, class: "btn btn-primary" %>
		  	</div>

				<%= render 'form', entity: @entity %>
  		</div>
  	</div>
	</div>
</section>