<div id="submit-content">
	<section class="section">
	  <div class="section-header">
	    <h1>Submit</h1>
	  </div>

	  <div class="section-body">
	    <div class="card p-4">
			  <div class="py-5 my-5 text-center" id="page-content">
			    <h4 class="mb-5">Submit for Approval</h4>
			    <a href="/vendors/submit" class="btn btn-primary px-5 btn-lg" data-remote="true">Submit</a>
			  </div>
			</div>
		</div>
	</section>
</div>

<div id="thank-content" class="d-none">
	<section class="section">
	  <div class="section-header">
	    <h1>Thank you</h1>
	  </div>

	  <div class="section-body">
	    <div class="card p-4">
			  <div class="py-5 my-5 text-center" id="thank-you">
			    <h4>Thank you for Applying, we will get back to you soon!</h4>
		    	<a href="/vendors">Back to Home</a>
			  </div>
			</div>
		</div>
	</section>
</div>