<section class="section">
  <div class="section-header">
    <h1>Vendor Type</h1>
  </div>

  <div class="section body">
  	<div class="card">
  		<div class="card-body">
				<p id="notice"><%= notice %></p>

				<p>
				  <strong>Name:</strong>
				  <%= @vendor_type.name %>
				</p>

				<%= link_to 'Edit', edit_vendor_type_path(@vendor_type) %> |
				<%= link_to 'Back', vendor_types_path %>
  		</div>
  	</div>
  </div>
</section>