<section class="section">
  <div class="section-header">
    <h1>New Sub Vendor Type</h1>
  </div>

  <div class="section body">
  	<div class="card">
  		<div class="card-body">
		  	<div class="text-right mb-3">
		  		<%= link_to 'Show', @sub_vendor_type, class: "btn btn-link" %>
		  		<%= link_to 'Back', sub_vendor_types_path, class: "btn btn-primary" %>
		  	</div>

				<%= render 'form', sub_vendor_type: @sub_vendor_type %>
  		</div>
  	</div>
	</div>
</section>
